@media (max-width: 1430px) {

    /* 소개 컨테이너 */
    .intro_content {
        height: 60%;
    }

    .intro_container.blue>.intro_content>figure,
    .intro_container.yellow>.intro_content>figure,
    .intro_container.sky>.intro_content>figure,
    .intro_container.red>.intro_content>figure {
        width: 500px;
        height: calc(500px * 7 / 8);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .intro_container {
        padding: 20px 50px;
    }

    .intro_container:nth-child(2)::before,
    .intro_container:nth-child(3)::before,
    .intro_container:nth-child(4)::before {
        height: 32px;
        display: block;
        content: "";
    }

    .intro_container>h2 {
        font-size: 32px;
        margin-left: 28px;
    }

    .intro_text_content {
        gap: 100px;
    }

    .intro_text_content>h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .intro_text_content>p:first-of-type {
        font-size: 14px;
    }
}

@media (max-width: 1300px) {

    /* 메인 컨테이너 */
    #main_typewriter {
        font-size: 72px;
    }

    /* 추천 컨테이너 */
    .recommend_container {
        margin: 70px 0;
        padding: 24px 64px;
    }

    .recommend_container>h2 {
        font-size: 36px;
        margin-bottom: 28px;
    }

    .tabs {
        gap: 32px;
        margin-bottom: 50px;
    }

    .tab-btn {
        font-size: 20px;
        padding: 10px;
    }

    .recommend_content {
        margin-bottom: 24px;
        gap: 80px;
    }

    .rose_1,
    .rose_2,
    .sleepy_1,
    .sleepy_2,
    .honey_1,
    .honey_2,
    .olive_1,
    .olive_2,
    .inter_1,
    .inter_2,
    .dirty_1,
    .dirty_2 {
        width: 200px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media (max-width: 1024px) {

    /* 메인 컨테이너 */
    #main_typewriter {
        font-size: 60px;
    }

    .header_menu>li {
        line-height: 50px;
        font-size: 28px;
    }

    /* 소개 컨테이너 */
    .intro_container.blue>.intro_content>figure,
    .intro_container.yellow>.intro_content>figure,
    .intro_container.sky>.intro_content>figure,
    .intro_container.red>.intro_content>figure {
        width: 400px;
        height: calc(400px * 7 / 8);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .intro_content {
        flex-direction: column;
        gap: 32px;
    }

    .intro_text_content {
        gap: 60px;
        height: auto;
        width: auto;
    }

    .intro_text_content>h3,
    .intro_text_content>p:first-of-type {
        display: none;
    }

    .intro_text_content>p:last-of-type {
        display: block;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        line-height: 60px;
    }

    /* 추천 컨테이너 */
    .recommend_container {
        margin: 50px 0;
        padding: 18px 50px;
    }

    .recommend_container>h2 {
        font-size: 30px;
        margin-bottom: 22px;
    }

    .tabs {
        gap: 28px;
        margin-bottom: 40px;
    }

    .tab-btn {
        font-size: 16px;
        padding: 8px;
    }

    .tab-content>h3 {
        margin-bottom: 40px;
        font-size: 20px;
    }

    .recommend_text_content {
        width: 500px;
    }

    .recommend_text_content>h2 {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .recommend_text_content>p,
    .recommend_text_content>button:first-of-type {
        display: none;
    }

    .show_button {
        display: block;
    }

    .recommend_text_content>button {
        padding: 8px;
        font-size: 16px;
    }

    /* 캠페인 컨테이너 */
    .campaign_container.donate>figure,
    .campaign_container.resource>figure {
        width: 60%;
        height: 100%;
        border-radius: 50px;
    }

    .campaign_container {
        padding: 80px 30px;
        box-sizing: border-box;
        gap: 28px;
    }

    .campaign_text_content {
        padding: 0;
        width: 40%;
    }

    .campaign_top.donate>h2 {
        font-size: 20px;
    }

    .campaign_top>p {
        font-size: 36px;
    }

    .campaign_text_content>p {
        font-size: 16px;
        line-height: 28px;
    }

    /* 베스트셀러 컨테이너 */
    .bestseller_container {
        margin: 60px 0;
    }

    .bestseller_container>h2 {
        font-size: 40px;
        margin-top: 32px;
    }

    .bestseller_container>p {
        font-size: 24px;
        margin: 28px 0 56px 0;
    }

    /* 푸터 */
    footer {
        height: 320px;
    }

    .policy {
        display: none;
    }

    .service>h2,
    .gift>h2 {
        font-size: 20px;
    }
}

@media (max-width: 730px) {

    /* 추천 컨테이너 */
    .recommend_container>h2 {
        text-align: center;
        margin-bottom: 46px;
    }

    .tab-content {
        display: block;
    }

    .tab-content>h3 {
        text-align: center;
        margin-bottom: 12px;
    }

    .tabs {
        display: none;
    }

    .recommend_text_content {
        display: none;
    }

    .flex_box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    .tab-content>h3:first-of-type {
        display: none;
    }

    .show_name {
        display: block;
    }

    /* 캠페인 컨테이너 */
    .campaign_container.donate>figure,
    .campaign_container.resource>figure {
        width: 100%;
        height: 280%;
        background-position: center center;
        background-size: cover;
    }

    .campaign_container {
        flex-direction: column;
    }

    .campaign_container.resource {
        flex-direction: column-reverse;
    }

    .campaign_text_content {
        width: 100%;
    }

    .campaign_top>p {
        font-size: 28px;
    }

    .campaign_text_content>p {
        display: none;
    }
}

@media (max-width: 700px) {

    /* 메인 컨테이너 */
    #main_typewriter {
        font-size: 40px;
    }

    /* 소개 컨테이너 */
    .intro_text_content>p:last-of-type {
        display: block;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        line-height: 48px;
    }

    /* 베스트셀러 컨테이너 */
    .bestseller_content>li>img {
        width: 300px;
        height: 300px;
    }

    .bestseller_overlay {
        font-size: 16px;
        line-height: 26px;
    }

    .bestseller_container>h2 {
        font-size: 32px;
        margin-top: 28px;
    }

    .bestseller_container>p {
        font-size: 20px;
        margin: 22px 0 44px 0;
    }

    /* 푸터 */
    footer {
        height: 250px;
    }

    .contact {
        display: none;
    }
}

@media (max-width: 500px) {

    /* 메인 컨테이너 */
    header {
        width: 100%;
        box-sizing: border-box;
    }

    /* 소개 컨테이너 */
    .intro_container.blue>.intro_content>figure,
    .intro_container.yellow>.intro_content>figure,
    .intro_container.sky>.intro_content>figure,
    .intro_container.red>.intro_content>figure {
        width: 300px;
        height: calc(300px * 7 / 8);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .intro_container>h2 {
        font-size: 28px;
        margin-left: 24px;
    }

    .intro_container:nth-child(2)::before,
    .intro_container:nth-child(3)::before,
    .intro_container:nth-child(4)::before {
        height: 28px;
        display: block;
        content: "";
    }

    /* 추천 컨테이너 */
    .rose_1,
    .rose_2,
    .sleepy_1,
    .sleepy_2,
    .honey_1,
    .honey_2,
    .olive_1,
    .olive_2,
    .inter_1,
    .inter_2,
    .dirty_1,
    .dirty_2 {
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* 푸터 */
    .address {
        font-size: 14px;
        line-height: 20px;
        padding: 0 8px;
    }
}

@media (max-width: 360px) {

    /* 메인 컨테이너 */
    #main_typewriter {
        font-size: 28px;
        line-height: 40px;
    }

    .header_menu>li {
        font-size: 22px;
        line-height: 44px;
    }

    .header_menu_button>p {
        font-size: 22px;
        margin-left: 12px;
    }

    /* 소개 컨테이너 */
    .intro_container {
        height: 800px;
    }

    .intro_text_content>p:last-of-type {
        display: block;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        line-height: 36px;
    }

    .intro_container>h2 {
        font-size: 22px;
        margin-left: 20px;
    }

    .intro_container:nth-child(2)::before,
    .intro_container:nth-child(3)::before,
    .intro_container:nth-child(4)::before {
        height: 22px;
        display: block;
        content: "";
    }

    /* 추천 컨테이너 */
    .flex_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* 캠페인 컨테이너 */
    .campaign_container {
        height: 600px;
        padding: 40px 16px;
    }

    .campaign_top.donate>h2,
    .campaign_top.resource>h2 {
        font-size: 16px;
    }

    .campaign_top>p {
        font-size: 20px;
    }

    /* 베스트셀러 컨테이너 */
    .bestseller_content>li>img {
        width: 200px;
        height: 200px;
    }

    .bestseller_overlay {
        font-size: 12px;
        line-height: 20px;
    }

    .bestseller_container>h2 {
        font-size: 28px;
        margin-top: 22px;
    }

    .bestseller_container>p {
        font-size: 16px;
        margin: 20px 0 40px 0;
    }

    /* 푸터 */
    .address {
        font-size: 12px;
    }
}