/* slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 2s;
}

.active {
    opacity: 1;
}

.slide1 {
    background: url(../image/main_1.svg);
}

.slide2 {
    background: url(../image/main_2.svg);
}

.slide3 {
    background: url(../image/main_3.svg);
}

.slide4 {
    background: url(../image/main_4.svg);
}

.slide5 {
    background: url(../image/main_5.svg);
}

/* main_container */
.main_container {
    color: #fff;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 400px;
}

header {
    padding: 32px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.header_menu_button {
    display: flex;
}

.ham_container {
    padding: 16px 0;
}

.hamburger {
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: 0.3s;
}

.hamburger.active {
    background-color: transparent;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    top: 10px;
}

.hamburger.active::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #fff;
}

.hamburger.active::after {
    transform: rotate(45deg);
    top: 0;
    background-color: #fff;
}

.header_menu_button>p {
    font-size: 28px;
    font-weight: 900;
    margin-left: 16px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.wrapper.active {
    opacity: 1;
}

.header_menu {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.header_menu>li {
    line-height: 72px;
    font-size: 40px;
    font-weight: 600;
}

#main_typewriter {
    font-size: 84px;
    font-weight: 600;
    padding: 32px;
    position: sticky;
    text-align: center;
}

#main_typewriter.hidden {
    opacity: 0;
}

#main_typewriter span {
    color: #2d2d2d;
    transition: color 0.3s ease;
}

#main_typewriter span.active {
    color: #fff;
}

/* intro_full_container */
.intro_full_container {
    height: 400vh;
    position: relative;
}

/* intro_container */
.intro_container {
    background-color: #000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
    transform: translateY(100px) scale(0.98);
    padding: 36px 100px;
    box-sizing: border-box;
}

.intro_container:nth-child(2),
.intro_container:nth-child(3),
.intro_container:nth-child(4) {
    background-color: transparent;
}

.intro_container:nth-child(2)::before,
.intro_container:nth-child(3)::before,
.intro_container:nth-child(4)::before {
    height: 48px;
    display: block;
    content: "";
}

.intro_container.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.intro_container>h2 {
    font-size: 48px;
    font-weight: 900;
    margin-left: 86px;
}

.intro_content {
    width: 100%;
    height: 80%;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
}

.intro_text_content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    word-break: keep-all;
    width: 24%
}

.intro_text_content.margin_right {
    margin-right: 120px;
}

.intro_text_content.margin_left {
    margin-left: 120px;
}

.margin_left {
    margin-left: 100px;
    margin-top: 32px;
}

.intro_text_content>h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
}

.intro_text_content>p {
    line-height: 20px;
}

/* blue */
.intro_container.blue>.intro_content {
    background-color: #3a53fb;
}

.intro_container.blue>.intro_content>figure {
    background: url(../image/intro_1.svg);
    width: 800px;
    height: 700px;
}

/* yellow */
.intro_container.yellow>.intro_content {
    background-color: #EACD76;
}

.intro_container.yellow>.intro_content>figure {
    background: url(../image/intro_2.svg);
    width: 800px;
    height: 700px;
}

/* sky */
.intro_container.sky>.intro_content {
    background-color: #0DBFE7;
}

.intro_container.sky>.intro_content>figure {
    background: url(../image/intro_3.svg);
    width: 800px;
    height: 700px;
}

/* red */
.intro_container.red>.intro_content {
    background-color: #ec3746;
}

.intro_container.red>.intro_content>figure {
    background: url(../image/intro_4.svg);
    width: 800px;
    height: 700px;
}

/* recommend_container */
.recommend_container {
    margin: 100px 0;
    padding: 36px 100px;
}

.recommend_container>h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 36px;
}

.tabs {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.tab-btn {
    background: none;
    border: 2px solid #AEADAD;
    font-size: 22px;
    border-radius: 16px;
    padding: 12px;
}

.tab-btn[data-tab="rose"].active {
    background-color: #ff5c8a;
    border: none;
    color: #fff;
}

.tab-btn[data-tab="sleepy"].active {
    background-color: #6C4C82;
    border: none;
    color: #fff;
}

.tab-btn[data-tab="honey"].active {
    background-color: #C59358;
    border: none;
    color: #fff;
}

.tab-btn[data-tab="olive"].active {
    background-color: #E04415;
    border: none;
    color: #fff;
}

.tab-btn[data-tab="inter"].active {
    background-color: #038FAF;
    border: none;
    color: #fff;
}

.tab-btn[data-tab="dirty"].active {
    background-color: #016B73;
    border: none;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content>h3 {
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 600;
}

.tab-content.rose>h3 {
    color: #ff5c8a;
}

.tab-content.sleepy>h3 {
    color: #6C4C82;
}

.tab-content.honey>h3 {
    color: #C59358;
}

.tab-content.olive>h3 {
    color: #E04415;
}

.tab-content.inter>h3 {
    color: #038FAF;
}

.tab-content.dirty>h3 {
    color: #016B73;
}

.show_name {
    display: none;
}

.recommend_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.rose_1 {
    background: url(../image/로즈잼1.svg);
    width: 295px;
    height: 295px;
}

.rose_2 {
    background: url(../image/로즈잼2.svg);
    width: 295px;
    height: 295px;
}

.sleepy_1 {
    background: url(../image/슬리피1.svg);
    width: 295px;
    height: 295px;
}

.sleepy_2 {
    background: url(../image/슬리피2.svg);
    width: 295px;
    height: 295px;
}

.honey_1 {
    background: url(../image/허니1.svg);
    width: 295px;
    height: 295px;
}

.honey_2 {
    background: url(../image/허니2.svg);
    width: 295px;
    height: 295px;
}

.olive_1 {
    background: url(../image/올리브1.svg);
    width: 295px;
    height: 295px;
}

.olive_2 {
    background: url(../image/올리브2.svg);
    width: 295px;
    height: 295px;
}

.inter_1 {
    background: url(../image/인터1.svg);
    width: 295px;
    height: 295px;
}

.inter_2 {
    background: url(../image/인터2.svg);
    width: 295px;
    height: 295px;
}

.dirty_1 {
    background: url(../image/더티1.svg);
    width: 295px;
    height: 295px;
}

.dirty_2 {
    background: url(../image/더티2.svg);
    width: 295px;
    height: 295px;
}

.recommend_text_content {
    width: 755px;
}

.recommend_text_content>h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    display: inline-block;
}

.recommend_text_content>h2:last-of-type {
    display: block;
}

.recommend_text_content>h2:first-child:after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 24px;
}

.recommend_text_content>p {
    color: #AEADAD;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.recommend_text_content>button {
    background-color: #AEADAD;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    border-radius: 16px;
}

.show_button {
    background-color: #AEADAD;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    border-radius: 16px;
    display: none;
}

/* campaign_container */
.campaign_container.donate>figure {
    background: url(../image/campaign_1.svg);
    width: 50%;
    height: 100vh;
    border-radius: 50px 50px 0 0;
    background-size: cover;
}

.campaign_container.resource>figure {
    background: url(../image/campaign_2.svg);
    width: 50%;
    height: 100vh;
    border-radius: 0 0 50px 50px;
    background-size: cover;
}

.campaign_container {
    display: flex;
    background-color: #1d1c1c;
    color: #fff;
    height: 100vh;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-out, transform 1s ease-out;
    border-radius: 50px 50px 0 0;
}

.campaign_container.resource {
    border-radius: 0 0 50px 50px;
    background-color: #000;
}

.campaign_container.visible {
    opacity: 1;
    transform: translateY(0);
}

.campaign_top.donate>h2 {
    color: #0DBFE7;
    font-size: 24px;
    margin-bottom: 20px;
}

.campaign_top.resource>h2 {
    color: #28C400;
    font-size: 24px;
    margin-bottom: 20px;
}

.campaign_text_content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 60px;
    box-sizing: border-box;
}

.campaign_top>p {
    line-height: 1.4;
    font-size: 50px;
    font-weight: 600;
    width: 90%;
    word-break: keep-all;
}

.campaign_text_content>p {
    font-size: 20px;
    width: 80%;
    line-height: 36px;
    word-break: keep-all;
}

/* bestseller_container */
.bestseller_container {
    margin: 100px 0;
    overflow-x: hidden;
}

.bestseller_container>h2 {
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    margin-top: 54px;
}

.bestseller_container>p {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin: 40px;
    color: #443f3f;
}

.bestseller_slider {
    display: flex;
    width: max-content;
}

.bestseller_content {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.bestseller_content>li {
    position: relative;
    flex-shrink: 0;
    margin: 0 16px;
    border-radius: 50%;
    overflow: hidden;
}

.bestseller_content>li>img {
    width: 400px;
    height: 400px;
    transition: transform 0.7s;
}

.bestseller_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: 0.7s;
}

.bestseller_content>li:hover .bestseller_overlay {
    opacity: 1;
}

.bestseller_content>li:hover>img {
    transform: scale(1.1);
}

/* footer */
footer {
    width: 100%;
    height: 400px;
    background-color: #000;
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
}

.service>h2,
.gift>h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.service>p {
    margin-bottom: 24px;
}

.address>p,
.policy>p {
    line-height: 22px;
}

.policy>p:nth-of-type(1) {
    color: #FBE85E;
}